{%
set navbar_classes = [
'navbar',
theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
]
%}
<header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
{#<div class = "header_fix">#}
    {#<div class = "simple_news_block">#}
        {#{{ page.simple_news_block }} <span class = "close_news">X</span>#}
        {#</div>#}
    {#<div class="need_qoute">#}
        {#{{ page.need_quote }}#}
        {#</div>#}
    {#</div>#}
<div class="need_qoute">
    {{ page.need_quote }}
</div>

<div class="container-fluid">
    <div class="navbar-header">
        <div class="logo_img" >
            {{ page.header }}
        </div>
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.header_menu %}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% endif %}
    </div>

    {# Navigation (collapsible) #}
    {% if page.header_menu %}
    <div class="navbar-collapse collapse">
        {{ page.header_menu }}
    </div>
    {% endif %}
</div>
</header>