<div class = "row">
  <div class="col-md-8">
      <div class = "author_details">
    <i class="fa fa-user" aria-hidden="true"></i> By {{ author_name }} <i class="fa fa-calendar" aria-hidden="true"></i> {{ date }} <i class="fa fa-comment" aria-hidden="true"></i> {{ comment_count }} Comments
    </div>

      <div class = "blog_body">
          {{ content.body }}
      </div>
      <div class = "comment_blog">
          {{ content.comment_node_blog }}
      </div>
  </div>
    <div class="col-md-4">
        {{ blog_searchs }}
    </div>
</div>