{#<header id="navbar" role="banner">#}
    {#<div class="container">#}
        {#<div class="navbar-header">#}
        {#<div class="row">#}
            {#{% if page.header %}#}
         {#<div class="col-md-4 logo_img" >#}
             {#{{ page.header }}#}
         {#</div>#}
            {#{% endif %}#}
            {#{% if page.header_menu %}#}
            {#<div class = "col-md-8">#}
                {#{{ page.header_menu }}#}
            {#</div>#}
            {#{% endif %}#}
{#</div>#}
{#</div>#}
{#</div>#}
{#</header>#}
{% include 'header.html.twig' %}

    {#<div class="container-fluid">#}
        <div class="banner">
            {#<div id="particles-js">#}
                {#<div class="container">#}
                    {#{{ page.banner }}#}
                {#</div>#}
            {#</div>#}
            <div class="container">
            <canvas id="map"></canvas>
            </div>
        </div>
        {% if page.tile_content %}
            <div class="tile">
                {{ page.tile_content }}
            </div>
        {% endif %}
    {#</div>#}

<div class="recent_proj">
    <h2 class="featured-case-study"><span>Featured Case Studies</span></h2>
    <div class="container">
        {% if page.recent_project %}
            {{ page.recent_project }}
        {% endif %}
    </div>
</div>

{% include 'footer.html.twig' %}


