{#<header id="navbar" role="banner">#}
    {#<div class="container">#}
        {#<div class="navbar-header">#}
        {#<div class="row">#}
            {#{% if page.header %}#}
         {#<div class="col-md-4 logo_img" >#}
             {#{{ page.header }}#}
         {#</div>#}
            {#{% endif %}#}
            {#{% if page.header_menu %}#}
            {#<div class = "col-md-8">#}
                {#{{ page.header_menu }}#}
            {#</div>#}
            {#{% endif %}#}
{#</div>#}
{#</div>#}
{#</div>#}
{#</header>#}
{% include 'header.html.twig' %}

    {#<div class="container-fluid">#}
        <div class="banner">
            <div class="container-fluid">
            {#<img src="/themes/redcrackle/img/golden-gate-bridge-iStock_000019197672Large-H.jpeg" height="500" />#}
                {#<div class="slide_message">#}
                    {#<div class="show_slide">#}
                        {#<img src="/themes/redcrackle/img/pw-logo.png" /><br />#}
                        {#<p>We have worked with media and publishing companie such as Programmableweb to execute the strategic design.</p>#}
                {#</div>#}
            {#</div>#}
             {#<div class="message">#}
                 {#Red Crackle is a Drupal Development company based in the San Francisco Bay Area. Our core strength is our team of Drupal Developers who specialize in creating extraordinary website and mobile experiences. Over the years, our Drupal experts have built quality sites and apps that helped clients meet their business goals.#}
             {#</div>#}

                <div id="particles-js">
                    <div class="container">
                        {{ page.banner }}
                    </div>
                </div>
            </div>
        </div>
        {% if page.tile_content %}
            <div class="tile">
                {{ page.tile_content }}
            </div>
        {% endif %}
    {#</div>#}

<div class="recent_proj">
    <h2 class="featured-case-study"><span>Featured Case Studies</span></h2>
    <div class="container">
        {% if page.recent_project %}
            {{ page.recent_project }}
        {% endif %}
    </div>
</div>

{% include 'footer.html.twig' %}


