{% include 'header.html.twig' %}

<div class="container-fluid cont_title">
    <div class="container">
        <div class="col-md-12">
            {{ page.content_title }}
        </div>
  </div>
</div>
<div class="container">
    {% if page.featured %}
    <div class="col-md-3">
        {{ page.featured }}
    </div>
        <div class="col-md-9">
        {{ page.content }}
    </div>
    {% else %}
        <div class="col-md-12">
            {{ page.content }}
        </div>
    {% endif %}
    {% if page.related_post %}
    <div class="related_post">
        <div class="col-md-12">
        {{ page.related_post }}
         </div>
    </div>
    {% endif %}
</div>

{% include 'footer.html.twig' %}


